body.single-post .btMediaBox img {
    max-width: 100%;
    width: auto;
}

#seo-bar {
    background: #2a868f;
    color: #fff;
    text-transform: none;
    border: 0 none;
    font-size: 11px;
    font-weight: normal;
    height: 18px;
    line-height: 16px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.manhattancourierservice-site #seo-bar { background: #2a868f; }
.proficientlogistic-site #seo-bar { background: #2a868f; }
.expresswaycourier-site #seo-bar { background: #2a868f; }

.mainHeader .btCurveHeader .btCurveHolder { max-width: none; }
.mainHeader .btCurveHeader .btCurveLeftHolder,
.mainHeader .btCurveHeader .btCurveRightHolder {
    background: #fff;
    height: 20px;
    overflow: hidden;
}

.btIconImageRow { display: none; }
.btIconImageRow.active { display: block; }

.menuPort nav > ul > li > a.btn-style {
    padding: 0px 20px;
    background: #da251d;
    color: #fff;
    border-radius: 5px;
}
.menuPort nav > ul > li > a.btn-style.btn-style-blue { background: #0014f7; }

/* Iframe pages */
body.page-layout-iframe .btContent { text-align: center; }
body.page-layout-iframe .btContent h3 { text-align: center; }
body.page-layout-iframe .btContent table { display: block; margin: 0px auto; width: 660px; }
body.page-layout-iframe .btContent table tbody,
body.page-layout-iframe .btContent table tr,
body.page-layout-iframe .btContent table td { display: block; }
body.page-layout-iframe .btContent table iframe { height: 1360px !important; border: 0; }

body.page-layout-tracking .btContent table.tracking-table { display: block; margin: 0px auto; width: 660px; }
body.page-layout-tracking .btContent table.tracking-table tbody,
body.page-layout-tracking .btContent table.tracking-table tr,
body.page-layout-tracking .btContent table.tracking-table td { display: block; }
body.page-layout-tracking .btContent table.tracking-table iframe { height: 800px !important; }

body.page-layout-login .login-form { opacity: 1; max-width: 660px; margin: 0px auto 20px; }
body.page-layout-login .login-form.hidden { display: none; }
body.page-layout-login .btContent table { width: 100%; }
body.page-layout-login iframe { display: none; }
body.page-layout-login iframe.visible { display: block; }
/* End iframe pages */

/* Tracking pages */
body.page-layout-tracking .btContent .col-sm-6 { width: 600px; max-width: 100%; float: none; margin: 0px auto; }
body.page-layout-tracking .btContent .col-sm-6 td.green { font-size: 30px; font-weight: 500; font-family: Cabin; text-transform: uppercase; }
/* End tracking pages */

.banner-qq {
    background: rgba(0,0,0,0.3);
    padding: 10px;
}
.banner-qq label {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 5px;
    font-size: 15px;
}
.banner-qq input {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    text-align: center;
    margin: 0px 5px;
    color: #333 !important;
    padding: 0px;
    height: 50px;
}
.banner-qq .submit-button {
    -webkit-appearance: none;
    text-transform: uppercase;
    font-weight: 700;
    padding: 15px 20px;
    cursor: pointer;
    line-height: 20px;
    color: #fff;
    background: #272bf7;
    border-radius: 2px;
    border: 1px solid transparent;
    transition: all 300ms linear;
    display: inline-block;
    vertical-align: middle;
    margin: 0px 5px;
}

.banner-qq .submit-button1 {
    -webkit-appearance: none;
    text-transform: uppercase;
    font-weight: 700;
    padding: 5px 20px;
    cursor: pointer;
    color: #fff;
    background: #da251d;
    border-radius: 2px;
    border: 1px solid transparent;
    transition: all 300ms linear;
    display: inline-block;
    vertical-align: middle;
    margin: 0px 5px;
}
.banner-qq .submit-button:hover {
    color: #272bf7;
    background: #fff;
    border: 1px solid #aaa;
    box-shadow: 0px 0px 5px #ccc;
}
.banner-qq .submit-button1:hover {
    color: #da251d;
    background: #fff;
    border: 1px solid #aaa;
    box-shadow: 0px 0px 5px #ccc;
}

.qq-results .mobile-label { display: none; }

.qq-holder .submit-buttons .initially-hidden { display: none !important; }

@media screen and (max-width: 767px) {
    .banner-qq label, .banner-qq input, .banner-qq button {
        display: block;
        text-align: center;
        margin: 0px auto 10px;
    }

    .qq-results {
        display: block;
        width: 100%;
    }
    .qq-results tbody {
        display: block;
        border-bottom: 2px solid #555;
        width: 100%;
    }
    .qq-results tr {
        border-top: 2px solid #555;
        display: block;
        width: 100%;
    }
    .qq-results tr:first-child { display: none; }
    .qq-results tr td {
        display: block;
        width: 100%;
    }
    .qq-results .mobile-label {
        display: block;
        font-weight: bold;
    }

    .qq-holder .submit-buttons .submit-button,
    .qq-holder .submit-buttons .submit-button1 {
        display: block;
        width: 100%;
        margin: 0px 0px 10px;
    }
}

.how-it-works {
    background: url(img/a1x/how-it-works/bkg.jpg) center top no-repeat;
    margin: 0px auto;
    max-width: 1170px;
    padding-bottom: 200px;
    color: #000;
    text-align: left !important;
}
.how-it-works p { color: #000 !important; }
.how-it-works img {
    vertical-align: middle;
    width: auto;
    display: inline-block;
}
.how-it-works header {
    text-align: center;
    margin: 0px 0px 50px;
}
.how-it-works header figure { margin-bottom: 10px; }
.how-it-works header h2 { margin: 0px; }
.how-it-works .step {
    overflow: hidden;
    line-height: 1.4;
    text-transform: uppercase;
}
.how-it-works .step figure,
.how-it-works .step .content { float: left; }

.how-it-works .step h3 {
    color: #f4091f;
    margin: 0px 0px 10px;
    font-size: 18px;
}
.how-it-works .step .point {
    background: url(img/a1x/how-it-works/icon2.jpg) center center no-repeat;
    width: 100px;
    height: 100px;
    font-size: 30px;
    padding: 34px 0px 0px 12px;
    text-align: center;
    box-sizing: border-box;
    float: left;
    margin: 0px 20px 0px 0px;
}
.how-it-works .step .text {
    float: left;
    margin-top: 15px;
}

.how-it-works .step:first-child { margin-bottom: 130px; }
.how-it-works .step:first-child figure { float: right; }
.how-it-works .step:first-child figure img { width: 500px; }
.how-it-works .step:first-child .content {
    float: right;
    margin-top: 110px;
}
.how-it-works .step:first-child .content .point { margin-top: 15px; }

.how-it-works .step:nth-child(2) { margin-bottom: 230px; }
.how-it-works .step:nth-child(2) figure {
    margin-left: 190px;
    margin-right: 120px;
}
.how-it-works .step:nth-child(2) .content { margin-top: 150px; }
.how-it-works .step:nth-child(3) figure { margin: 0px 70px 0px 100px; }
.how-it-works .step:nth-child(3) .content { margin-top: 120px; }

.btQuoteBooking .btContactNext {
    color: #fff !important;
    background: #999 !important;
}

/* Quick Quote */
.qq-holder { padding: 50px 0px 250px; }

body.home:not(.btMenuVerticalLeft):not(.btMenuVerticalRight) header div.menuPort nav ul li { margin-right: 20px; }

.qq-holder.on-banner {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    position: absolute;
    left: 50%;
    margin-left: -590px;
    top: 170px;
    z-index: 2000;
    box-shadow: 0 0 8px #555;
}
.qq-holder.on-banner .formfield { margin-bottom: 10px; }

.qq-holder.on-home { padding-bottom: 50px; }

body.localhost-site #slider .header,
body.boxonaplane-site #slider .header {
    text-align: right;
    width: 60%;
    margin: 0 0 0 auto;
}
body.localhost-site #slider .header h1,
body.boxonaplane-site #slider .header h1 {
    font-size: 60px;
    min-height: 200px;
    line-height: 1;
}
body.localhost-site #slider .header.dash:after,
body.boxonaplane-site #slider .header.dash:after { margin: 0 0 0 auto; }
body.localhost-site #slider .banner-qq,
body.boxonaplane-site #slider .banner-qq { display: none; }

.qq-holder.in-page { padding-bottom: 50px; }
.qq-holder .no-results-box {
    padding: 20px;
    border-radius: 6px;
    color: #fff;
    background: #da251d;
    line-height: 1.5;
    margin-bottom: 30px;
}
.qq-holder .no-results-box p { margin-bottom: 10px; }
.qq-holder .no-results-box p:last-child { margin-bottom: 0; }
.qq-holder form .formfield { margin-bottom: 30px; }
.qq-holder form .formfield:after {
    content: "";
    display: table;
    clear: both;
}
.qq-holder form .formfield .rows2 {
    float: left;
    width: 48%;
}
.qq-holder form .formfield .rows2:last-child { float: right; }
.qq-holder form .formfield .rows3 {
    float: left;
    margin-right: 2%;
    width: 32%;
}
.qq-holder form .formfield .rows3:last-child { margin-right: 0px; }
.qq-holder .submit-button {
    -webkit-appearance: none;
    text-transform: uppercase;
    font-weight: 700;
    padding: 15px 20px;
    cursor: pointer;
    color: #fff;
    background: #272bf7;
    border-radius: 2px;
    border: 1px solid transparent;
    transition: all 300ms linear;
    margin-bottom: 5px;
}

.qq-holder .submit-button1 {
    border: 0px none;
    -webkit-appearance: none;
    text-transform: uppercase;
    font-weight: 700;
    padding: 15px 20px;
    cursor: pointer;
    color: #fff;
    background: #da251d;
    border-radius: 2px;
    border: 1px solid transparent;
    transition: all 300ms linear;
}
.qq-holder .submit-button:hover {
    color: #272bf7;
    background: #fff;
    border: 1px solid #aaa;
    box-shadow: 0px 0px 5px #ccc;
}

.qq-holder .submit-button1:hover {
    color: #da251d;
    background: #fff;
    border: 1px solid #aaa;
    box-shadow: 0px 0px 5px #ccc;
}

@media screen and (max-width: 1399px) {
    .qq-holder.on-banner { margin-left: -540px; }
}
@media screen and (max-width: 1299px) {
    .qq-holder.on-banner { margin-left: -450px; }
    body.localhost-site #slider .header,
    body.boxonaplane-site #slider .header { width: 50%; }
}
@media screen and (max-width: 1099px) {
    .qq-holder.on-banner {
        margin-left: -400px;
        width: 330px;
    }
}
@media screen and (max-width: 999px) {
    .qq-holder.on-banner { margin-left: -350px; }
}
@media screen and (max-width: 899px) {
    .qq-holder.on-banner {
        margin-left: 0;
        left: 100px;
        right: 100px;
        width: auto;
    }
    body.localhost-site #slider .header,
    body.boxonaplane-site #slider .header { opacity: 0 }
}
@media screen and (max-width: 767px) {
    .qq-holder.on-banner {
        left: 10px;
        right: 10px;
    }
}

.box-options {
    background: #fff;
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    text-align: center;
    display: none !important;
}
.box-options.visible { overflow: visible; }
.box-options .only { display: none; }
.box-options.nationwide .not-nationwide { display: none; }
.box-options.nationwide .only-nationwide { display: inline; }
.box-options .is-popular {
    height: 40px;
    line-height: 32px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 5px;
    margin: 0px auto;
    width: 195px;
}
.box-options .is-popular .popular {
    color: #fff;
    background: #049f87;
    padding-bottom: 8px;
}
.box-options a.btn {
    display: block;
    background: orange;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    line-height: 18px;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
}
.box-options .price {
    font-size: 32px;
    margin-bottom: 10px;
}
.box-options .price small { font-size: 12px; }
.box-options .bottom-note {
    margin-bottom: 15px;
    color: #999;
    font-size: 12px;
}
.box-options .wrap {
    overflow: visible;
    display: inline-block;
    padding: 0px 0px 40px;
}
.box-options article {
    color: #333;
    float: left;
    text-align: center;
    box-shadow: 0px 0px 2px #fff;
    width: 264px;
    font-size: 12px;
    padding-top: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 40px;
}
.box-options article.visible { overflow: visible; }
.box-options article .info-tooltip {
    position: relative;
    cursor: pointer;
}
.box-options article .info-tooltip .label {
    color: #fff;
    text-align: center;
    text-decoration: underline;
}
.box-options article .info-tooltip .tooltip-holder {
    position: absolute;
    padding-bottom: 30px;
    display: none;
    left: -20px;
    right: -20px;
    bottom: 0px;
}
.box-options article .info-tooltip:hover .tooltip-holder { display: block; }
.box-options article .info-tooltip .tooltip {
    color: #fff;
    padding: 15px;
    text-align: left;
    background: rgba(0,0,0,0.9);
    border-radius: 5px 10px;
    line-height: 1.2;
}
.box-options article .info-tooltip .tooltip p { margin: 5px; }
.box-options article .info-tooltip .tooltip strong {
    font-weight: bold;
    color: orange;
}
.box-options .box-arrow {
    border-color: #333;
    color: #333;
    margin-top: 15px;
}
.box-options article section {
    background: #fff;
    border: 1px solid #e7e7e7;
    border-radius: 10px;
    padding: 0px 30px 30px;
}
.box-options article .ribbon {
    background: url(/wp-content/themes/cargo/img/badges.png) -200px top no-repeat;
    margin-top: -10px;
    padding-top: 20px;
    margin-bottom: 20px;
    box-sizing: content-box;
    height: 84px;
}
.box-options article:nth-child(2) .ribbon { background-position: -200px -220px; }
.box-options article:nth-child(3) .ribbon { background-position: -200px -330px; }
.box-options article h3 {
    font-size: 26px;
    color: #fff;
    line-height: 28px;
    margin: 0px 0px 5px;
}
.box-options article h4 {
    font-size: 18px;
    margin: 0px 0px 15px;
    font-weight: bold;
}
.box-options article figure {
    margin: 0px 0px 20px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    line-height: 200px;
    text-align: center;
    background: #fff;
}
.box-options article figure img {
    max-width: 100%;
    vertical-align: middle;
    max-height: 100%;
}
.box-options article footer {
    background: #ccc;
    max-height: 0px;
    overflow: hidden;
    font-size: 11px;
    color: #333;
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.box-options article footer .inside { padding: 20px 30px; }
.box-options article footer.expanded { max-height: 400px; }
.box-options .note {

    color: #000;
    clear: both;
    margin: 0px auto;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
    width: 600px;
}
.box-options .note a { color: #000; }
/* End Quick Quote */

/* Locations */
.locations-wrapper { text-align: center; }
.map-bullets { position: relative; }
.map-bullets img {
    display: block;
    margin: 0;
    width: 528px;
}
.map-bullets .bullet {
    color: #fff;
    background: #630460;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    box-sizing: border-box;
    padding: 22px 5px;
    border-radius: 50%;
    width: 92px;
    line-height: 16px;
    font-size: 12px;
    cursor: pointer;
    z-index: 5;
}
.map-bullets .bullet:hover,
.map-bullets .bullet.active {
    background: #e5b40a;
    z-index: 6;
}
.map-bullets .bullet strong { display: block; }
.map-bullets .bullet.ny {
    left: 400px;
    top: 100px;
}
.map-bullets .bullet.md {
    left: 417px;
    top: 214px;
    padding: 30px 5px;
}
.map-bullets .bullet.ky {
    left: 154px;
    top: 231px;
    padding: 30px 5px;
}
.map-bullets .bullet.nc {
    left: 365px;
    top: 334px;
    padding: 34px 5px;
    width: 100px;
}
.map-bullets .bullet.sc {
    left: 316px;
    top: 414px;
    padding: 37px 5px;
    width: 106px;
}
.map-bullets .bullet.ga {
    left: 117px;
    top: 414px;
    padding: 30px 5px;
}
.map-bullets .bullet.fl1 {
    left: 317px;
    top: 544px;
    padding: 30px 5px;
}
.map-bullets .bullet.fl2 {
    left: 327px;
    top: auto;
    bottom: 0;
}

.locations-wrapper .info-box {
    border: 1px solid #888;
    padding: 10px;
    display: none;
}
.locations-wrapper .info-box.active { display: block; }
.locations-wrapper .info-box .title { margin-top: 10px; }
.locations-wrapper .info-box .two-cols,
.locations-wrapper .info-box .three-cols { overflow: hidden; }
.locations-wrapper .info-box .two-cols .column {
    float: left;
    padding: 10px;
    box-sizing: border-box;
    width: 50%;
    text-align: left;
}
.locations-wrapper .info-box .three-cols .column {
    float: left;
    padding: 10px;
    box-sizing: border-box;
    width: 33.333%;
    text-align: left;
}

.jqvmap-label {
    position: absolute;
    display: none;
    background: #fff;
    font-size: 13px;
    border: 1px solid #000;
    padding: 10px;
    color: #333;
    pointer-events:none;
}
.jqvmap-region { cursor: pointer; }

.map-info-box {
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 5000000;
    background: rgba(255,255,255,0.5);
    display: none;
}
.map-info-box.active { display: block; }
.map-info-box .map-info-box-inside {
    background: #eee;
    border: 1px solid #777;
    padding: 20px;
    width: 500px;
    left: 50%;
    box-sizing: border-box;
    margin-left: -250px;
    top: 50px;
    position: absolute;
}
.map-info-box .map-info-box-inside .close { text-align: right; }
.map-info-box .map-info-box-inside .close span {
    display: inline-block;
    cursor: pointer;
    text-decoration: underline;
}
/* End Locations */

.btPreloader { display: none !important; }
.btPreloader.forceShowing { display: block !important; }
