#seo-bar {
    background: #272bf7;
    color: #fff;
    text-transform: none;
    border: 0 none;
    font-size: 11px;
    font-weight: normal;
    height: 18px;
    line-height: 16px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.mainHeader .btCurveHeader .btCurveHolder { max-width: none; }
.mainHeader .btCurveHeader .btCurveLeftHolder,
.mainHeader .btCurveHeader .btCurveRightHolder {
    background: #fff;
    height: 20px;
    overflow: hidden;
}

.btIconImageRow { display: none; }
.btIconImageRow.active { display: block; }

.banner-qq label {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 5px;
}
.banner-qq input {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    text-align: center;
    margin: 0px 5px;
    color: #333 !important;
    padding: 0px;
    height: 35px;
}
.banner-qq .submit-button {
    border: 0px none;
    -webkit-appearance: none;
    text-transform: uppercase;
    font-weight: 700;
    padding: 5px 20px;
    cursor: pointer;
    color: #fff;
    background: #272bf7;
    border-radius: 2px;
    border: 1px solid transparent;
    transition: all 300ms linear;
    display: inline-block;
    vertical-align: middle;
    margin: 0px 5px;
}
.banner-qq .submit-button:hover {
    color: #272bf7;
    background: #fff;
    border: 1px solid #aaa;
    box-shadow: 0px 0px 5px #ccc;
}

@media screen and (max-width: 767px) {
    .banner-qq label, .banner-qq input, .banner-qq button {
        display: block;
        text-align: center;
        margin: 0px auto 10px;
    }
}

